@import "primeicons/primeicons.css";
@import "@xterm/xterm/css/xterm.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

@layer utilities {
  @keyframes gradient-x {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient-x {
    animation: gradient-x 4s ease infinite;
    background-size: 200% 200%;
  }
}
